*.pyc
*~
.env
__pycache__
myvenv
db.sqlite3
#/static
#/staticfiles
/media
.DS_Store  
# Project exclude paths
/venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3-journal

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/